%li.clearfix{:data => { :id => node.id }, :id => "node-#{node.id}"}
  = render :partial => 'tree_inner', :locals => { :node => node }
  = render :partial => 'amalgam/admin/tree/list', :locals => { :parent_id => node.id , :collection => collection }