//= require ./tree/style
@import 'mixins';

$tree-line-color: #c2c2c2;

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.right_content{
  margin-top: 20px;
  margin-bottom: 20px;
}

.clearfix {
  display: inline-block;
}

.scroll_fixed {
  position: fixed;
  top: 40px;
  z-index: 999;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}


body{
  background:image-url('amalgam/admin/pattern.png');
}

form.basic{
  .boxsizing &{
    input[type='text'],textarea,select{
      @include border-box;
      width: 100%;
      height: 28px;
    }
    input[type='text']{
      height: 28px;
    }
  }
  label.checkbox,label.radio{
    float:left;
    margin-right:10px;
  }
}

span.right{
  float: right;
}

article{
  @include border-radius(4px);
  @include box-shadow;
  padding: 20px;
  background: #fff;
  min-height: 600px;
  form{
    input{
      width:400px;
    }
    select{
      width:410px;
    }
    p{
      margin: 0;
    }
    .error input{
      margin-bottom: 0;
    }
    margin-bottom: 10px;
  }

  table {
    th.name {
      width: 750px;
    }
    th.title {
      width: 500px;
    }
    th.min{
      width: 10px;
    }
    td.right {
      text-align: right;
    }
  }
  table.table-bordered{
    td,th{
      border-left:none;
    }
    border-left:1px solid #DDD;
  }
}

.tree-container{
  min-height: 500px;
}

.footer{
  height:100px;
}

.popover h3{
  font-size: 14px;
}

body{
  padding-top: 40px;
}

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
  border-bottom: 1px solid #DADADA;
  @include box-shadow(0,1px,0,#FCFCFC);
}

.wrapper{
  margin-top: 40px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 0 3px 3px 0;
  border: 1px solid #dadada;
  min-height: 600px;
}

.index_amalgam-admin-pages, .index_admin-product_catalogs{
  header{
    padding-left: 30px;
    a{
      margin-left: -100%;
      padding-bottom: 1px;
    }
  }
}

#ajax-loader {
  z-index: 99;
  position: fixed;
  left: 50%;
  top: 60px;
  margin-left: -40px;
  width: 80px;
  text-align: center;

  .label.important {
    cursor: pointer;
  }
}

.registration{
  margin-top:50px;
}
.sidebar{
  padding: 20px;
  min-height: 560px;
}