Gemfile.lock
.bundle/
log/*.log
pkg/
spec/dummy/db/*.sqlite3
spec/dummy/log/*.log
spec/dummy/tmp/
spec/dummy/attachments
spec/dummy/app/views/pages/
spec/dummy/public/uploads
spec/dummy/.sass-cache
spec/dummy/public/system
tmp/
.DS_Store

