= af.label :title
= af.text_field :title, :required => true
= af.label :slug
= af.text_field :slug, :required => true
%fieldset
  =af.label :group_ids
  -Amalgam::Models::Group.all.each do |group|
    %label.checkbox.inline
      =check_box_tag 'page[group_ids][]', group.id, af.object.group_ids.include?(group.id)
      =group.name