<!DOCTYPE html>
<html>
<head>
  <title>Amalgam</title>
  <%= stylesheet_link_tag    "amalgam/application", :media => "all" %>
  <%= javascript_include_tag "amalgam/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
