= af.label :title
= af.text_field :title, :required => true
= af.label :slug
= af.text_field :slug, :required => true
=# af.label :locked
=# af.select :locked, options_for_select({'未锁定' =>0,'结构锁' =>1,'叶子锁' =>2},af.object.locked)